<div class="ui text container">
  <br/>
  <div class="ui white inverted segment">
  <h3 class="ui center aligned grey header">评论</h3>
  <h4 class="ui center aligned grey header">这里显示所有评论，新评论将显示在旧评论之前</h4>
  <% if @comments.count == 0 %>
      <center class="site-sub-header"><h2>这个破站一条评论都没有(ｏ・_・)ノ”(ノ_<。)</h2></center>
  <% end %>
<div class="ui comments">
<% @comments.reverse.each do |comment| %>
    <div class="comment" id="<%= comment.id %>">
      <a class="avatar">
        <%= gravatar_for(comment) %>
      </a>
      <div class="content">
        <%= link_to comment.comment_author, "http://#{comment.comment_site}", class: "author" %>
        <!-- <%= link_to comment.comment_author, comment.comment_site, class: "author" %> -->
        <div class="metadata">
      <span class="date">
        <!-- <%= # comment.created_at.localtime.strftime("%Y年%m月%d日")
                 # 上面一行会报错
                 # NoMethodError in Posts#show
                 # undefined method `localtime' for nil:NilClass
      %> -->
        <%= link_to "回复", "/categories/#{Post.find(comment.post_id).category_id}/posts/#{
        comment.post_id}##{comment.id}" %>

        <%= comment.created_at.localtime %>
        <!--comment_id: <%=  comment.id %>
        post_id: <%=  comment.post_id %>
        category_id: <%=  Post.find(comment.post_id).category_id %>-->
      </span>
        </div>
        <div class="text">
          <%= comment.comment_text %>
        </div>
      </div>
    </div>
<% end %>
  <%= will_paginate @comments %>
</div>
    </div>
  <br/>
  </div>