<div class="ui container category-block">

  <div class="ui center aligned category-block-border">
    <!-- <h4 class="ui grey header">新建文章并且发表在><%= @category.category_name %></h4> -->
    <h1 class="ui header">
      <%= image_tag(@category.category_image.url, class: "ui circular image",
                    alt: @category.category_name) if @category.category_image? %>
      <div class="content">
        <%= @category.category_name %>
        <div class="sub header black-header"><%= @category.category_brief %></div>
      </div>
    </h1>
    <br/>
    <div class="cat-link">
      <%= link_to '新建文章', new_category_microblog_path(@category), data: {no_turbolink: true} %>&nbsp;&nbsp;/&nbsp;&nbsp;
      <!-- <%= link_to '新建文章', new_category_post_path(@category) %>&nbsp;&nbsp;/&nbsp;&nbsp; -->
      <%= link_to '添加分类', new_category_path %>&nbsp;&nbsp;/&nbsp;&nbsp;
      <%= link_to '编辑分类', edit_category_path(@category) %>&nbsp;&nbsp;/&nbsp;&nbsp;
      <%= link_to '全部分类', categories_path %>&nbsp;&nbsp;/&nbsp;&nbsp;
      <%= link_to '删除分类', category_path(@category), method: :delete, data: {confirm: '确定要删除吗？'} %>
    </div>
  </div>


  <div class="sb-main-content">
    <% if @category.microblogs.count == 0 %>
        <center class="site-sub-header"><h2>还没有内容(ｏ・_・)ノ”(ノ_<。)</h2></center>
    <% else %>
        <% @category.microblogs.reverse.each do |mb| %>
            <div class="posts-timeline">
              <div class="post-timeline">
                <h3 class="site-sub-header">
                  <div class="post-timeline-dot"></div>
                  &nbsp;&nbsp;&nbsp;<i class="black-color"><%= mb.created_at.localtime.strftime("%Y-%m-%d") %></i>
                  &nbsp;&nbsp;&nbsp;<%= link_to '编辑', edit_category_microblog_path(@category, mb) %>
                  &nbsp;&nbsp;&nbsp;<%= link_to '删除', category_microblog_path(@category, mb), method:
                    :delete, data: {confirm: 'Are you sure?'} %>
                </h3>
                <div class="post-text black-color">
                  <div class="microblog-text">
                    <%= sanitize mb.text %>
                  </div>
                  <%= image_tag(mb.photo.url, class: "ui image fixheight imgshow") if mb.photo? %>
                  <!-- <%= image_tag(mb.photo, class: "ui image fixheight imgshow", alt: mb.text) %> -->
                </div>
                <% if mb.music != '' %>
                    <div class="post-music">
                      <%= post_music(mb.music) %>
                    </div>
                <% end %>
              </div>
            </div>
        <% end %>
        <%= will_paginate @microblogs %>

    <% end %>
  </div>
</div>


<div class="ui basic modal">
  <div class="ui-icon-header">
    <i><img src="" class="microblog_image image" alt=""></i>
  </div>
  <div class="content">
    <div class="modal_description description post-text"></div>
  </div>
  <!-- <div class="actions">
      <div class="ui red basic cancel inverted button"><i class="remove icon"></i> No </div>
      <div class="ui green ok inverted button"><i class="checkmark icon"></i> Yes </div>
    </div> -->
</div>

<!-- <div class="ui small basic modal">
    <i class="close icon"></i>

    <div class="image content">
      <i>
      <div class="image">
        <img src="" class="microblog_image image" alt="" >
      </div>
      <i>
    </div>

  </div> -->

<!-- <div class="ui basic modal">
  <div class="header">Header</div>
  <div class="image content">
    <img src="" class="microblog_image image" alt="" >
    <div class="modal_description description">
    </div>
    <p></p>
  </div>
</div> -->
