<%= render 'categories/header' %>


<div class="ui container category-block">

  <div class="ui center aligned category-block-border">

    <h1 class="ui header">
      <%= image_tag("micro_blog.jpg", class: "ui circular image", alt: "纸条") %>
      <div class="content">
        纸条
        <div class="sub header black-header">记录每一个清澈的瞬间</div>
      </div>
    </h1>
    <br/>
    <div class="cat-link">
      <%= link_to '+MB~骚年噜一发', new_microblog_path, data: {no_turbolink: true} %>
    </div>

  </div>

  <div class="sb-main-content">
    <% if @microblogs.count == 0 %>
        <center class="site-sub-header"><h2>还没有内容(ｏ・_・)ノ”(ノ_<。)</h2></center>
    <% else %>
        <% @microblogs.reverse.each do |mb| %>
            <div class="posts-timeline">
              <div class="post-timeline">
                <h3 class="site-sub-header">
                  <div class="post-timeline-dot"></div>
                  &nbsp;&nbsp;&nbsp;<i class="black-color"><%= mb.created_at.localtime.strftime("%Y-%m-%d") %></i>
                  &nbsp;&nbsp;&nbsp;<%= link_to '编辑', edit_microblog_path(mb) %>
                  &nbsp;&nbsp;&nbsp;<%= link_to '删除', microblog_path(mb), method:
                    :delete, data: {confirm: 'Are you sure?'} %>
                </h3>
                <div class="post-text black-color">
                  <!-- <%= link_to microblog_path(mb), class: "post-title-link" do %>
          <%= sanitize mb.text %><!--#bug-->
                      <!--
                  <% end %> -->
                  <div class="microblog-text">
                    <%= sanitize mb.text %>
                  </div>
                  <%= image_tag(mb.photo.url, class: "ui image fixheight imgshow") if mb.photo? %>
                  <!-- <%= image_tag(mb.photo, class: "ui image fixheight imgshow", alt: mb.text) %> -->
                </div>
                <% if mb.music != '' %>
                    <div class="post-music">
                      <%= post_music(mb.music) %>
                    </div>
                <% end %>
              </div>
            </div>
        <% end %>

    <% end %>
  </div>
</div>


<div class="ui basic modal">
  <div class="ui-icon-header">
    <i><img src="" class="microblog_image image" alt=""></i>
  </div>
  <div class="content">
    <div class="modal_description description post-text"></div>
  </div>
  <!-- <div class="actions">
      <div class="ui red basic cancel inverted button"><i class="remove icon"></i> No </div>
      <div class="ui green ok inverted button"><i class="checkmark icon"></i> Yes </div>
    </div> -->
</div>

<!-- <div class="ui small basic modal">
    <i class="close icon"></i>

    <div class="image content">
      <i>
      <div class="image">
        <img src="" class="microblog_image image" alt="" >
      </div>
      <i>
    </div>

  </div> -->

<!-- <div class="ui basic modal">
  <div class="header">Header</div>
  <div class="image content">
    <img src="" class="microblog_image image" alt="" >
    <div class="modal_description description">
    </div>
    <p></p>
  </div>
</div> -->
