<%= render 'categories/header' %>

<!--<br/>-->
<div class="banner-padding" style="background-color: <%= Setting.Banner_Background_Color %>;
    background-image: url(<%= asset_url(Setting.Banner_Image) %>);">
  <div class="ui center aligned category-block-border container">
    <h2 class="ui header site-header">
      <img class="ui circular image" alt="日常" src="/uploads/category/category_image/3/avatar.jpg">
      <div class="content">创建<%= @category.category_name %> <div class="sub header">创建新的<%= @category.category_name %></div>
      </div>
    </h2>
    <!--<br/>-->
    <div class="cat-link">
    </div>
  </div>
</div>
<!--<br/>-->

<div class="ui text container category-block-middle">

  <%= render 'form' %>

</div>
