<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui inverted image header">
      <%= image_tag("shamebird.png", alt: "logo", class: "ui tiny image") %>
      <br/>
      <div class="content">
        <%= Setting.Site_Header %> · 注册
      </div>
    </h2>
    <%= form_for(@user, html: {class: "ui form"}) do |f| %>
        <div class="ui stacked segment">
          <div class="field">
            <%= f.text_field :name, placeholder: "用户名" %>
          </div>
          <div class="field">
            <%= f.text_field :email, placeholder: "邮箱" %>
          </div>
          <div class="field">
            <%= f.password_field :password, placeholder: "密码" %>
          </div>
          <div class="field">
            <%= f.password_field :password_confirmation, placeholder: "确认密码" %>
          </div>
          <%= f.submit "更新", class: "ui fluid large blue submit button" %>
        </div>
        <% if @user.errors.any? %>
            <script>
              $(".ui.form").addClass("error");
              $(".field_with_errors").parent().addClass("error");
            </script>
            <div class="ui error message">
              <div class="header">
                The form contains
                <%= pluralize(@user.errors.count, "error") %>.
              </div>
              <ul class="list">
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
    <% end %>
    <div class="ui message">
      已经注册过? <a href="#">登录</a>
    </div>
  </div>
</div>