<div class="ui container category-block">

  <div class="ui center aligned category-block-border">
    <h1 class="ui header">
      <%= image_tag(@category.category_image.url, class: "ui circular image",
                    alt: @category.category_name) if @category.category_image? %>
      <div class="content">
        <%= @category.category_name %>
        <div class="sub header black-header"><%= @category.category_brief %></div>
      </div>
    </h1>
    <br/>
    <div class="cat-link">
      <%= link_to '新建文章', new_category_album_path(@category), data: {no_turbolink: true} %>&nbsp;&nbsp;/&nbsp;&nbsp;
      <%= link_to '添加分类', new_category_path %>&nbsp;&nbsp;/&nbsp;&nbsp;
      <%= link_to '编辑分类', edit_category_path(@category) %>&nbsp;&nbsp;/&nbsp;&nbsp;
      <%= link_to '全部分类', categories_path %>&nbsp;&nbsp;/&nbsp;&nbsp;
      <%= link_to '删除分类', category_path(@category), method: :delete, data: {confirm: '确定要删除吗？'} %>
    </div>
  </div>

  <div class="sb-main-content">

    <!-- 瀑布流布局 -->
    <div id="masonry" class="container-fluid">


      <% @albums.reverse.each do |album| %>
          <div style="display:none;">
            <%= link_to '编辑', edit_category_album_path(@category, album) %>
            <%= link_to '删除', category_album_path(@category, album), method:
                :delete, data: {confirm: 'Are you sure?'} %>
          </div>
          <div style="display:none;">
            <%= album.description %>
          </div>
          <div class="box">

            <%= image_tag(album.picture.url, class: 'imgshow') if album.picture? %>

          </div>
      <% end %>

    </div>
    <!-- 瀑布流布局 -->
    <br/>
    <%= will_paginate @albums %>

  </div>
</div>

<div class="ui basic modal">
  <!-- 原先的，下面的语句替代了这个<div class="ui icon header"> -->
  <div class="ui-icon-header">
    <i><img src="" class="microblog_image image" alt=""></i>
  </div>
  <div class="content">
    <div class="modal_description description post-text"></div>
  </div>
  <!-- 原先的，下面的语句替代了这个<div class="actions"> -->
  <div class="ui-icon-header">
    <a class="ui red cancel inverted button album_del_link" data-confirm="确定要删除?" rel="nofollow" data-method="delete" href="">
      <i class="remove icon"></i>
      删除
    </a>
    <a class="ui green ok inverted button album_edit_link" href="">
      <i class="checkmark icon"></i>
      编辑
    </a>
  </div>
</div>
