<div class="ui container post-form">
<%= form_for([@category, @post], html: { class: "ui form"}) do |f| %>
<!-- 也可以将 [@category, @post] 改为 [:category, @post] -->
<% if @post.errors.any? %>
<!-- <script>
  $(".ui.form").addClass("error");
  $(".field_with_errors").parent().addClass("error");
</script> -->
<div id="error_explanation">
  <div class="ui error message">
    <div class="header">
      The form contains
      <%= pluralize(@post.errors.count, "error") %>.
    </div>

    <ul class="list">
      <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
<br/>
<!-- <h1 class="ui grey header">写作</h1> -->
<div class="field">
  <!-- <%= f.label :post_title, "标题" %> -->
  <!-- <%= f.text_field :post_title, class: "post-title-field", placeholder: "标题" %> -->
  <%= f.text_field :post_title, class: "post-title-field", placeholder: "", autocomplete: "off" %>
</div>
<div class="field">
  <!-- <%= f.label :post_text, "正文" %> -->
  <%= f.text_area :post_text, id: "editor" %>
</div>
<div class="field">
  <!-- <%= f.label :post_image, "特色图" %> -->
  <%= f.text_field :post_image, class: "post-image-field", placeholder: "分类图（请填写图片url）", autocomplete: "off" %>
</div>

<% if @post.errors.any? %>
<script>
  $(".ui.form").addClass("error");
  $(".field_with_errors").parent().addClass("error");
</script>
<% end %>

<%= f.submit "完成", class: "ui fluid large submit button" %>
<% end %>
</div>
