<div class="ui grid center-aligned-no-lr-margin">
  <div class="two wide computer only column"></div>
  <div class="sixteen wide mobile sixteen wide tablet ten wide computer column post-form">
    <%= form_for([@category, @post], html: { class: "ui form", multipart: true }) do |f| %>
    <!-- 也可以将 [@category, @post] 改为 [:category, @post] -->
    <% if @post.errors.any? %>
    <!-- <script>
      $(".ui.form").addClass("error");
      $(".field_with_errors").parent().addClass("error");
    </script> -->
    <div id="error_explanation">
      <div class="ui error message">
        <div class="header">
          The form contains
          <%= pluralize(@post.errors.count, "error") %>.
        </div>

        <ul class="list">
          <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
    <br/>
    <!-- <h1 class="ui grey header">写作</h1> -->
    <div class="field post-title-div">
      <!-- <%= f.label :post_title, "标题" %> -->
      <!-- <%= f.text_field :post_title, class: "post-title-field", placeholder: "标题" %> -->
      <%= f.text_field :post_title, class: "post-title-field", placeholder: "", autocomplete: "off" %>
    </div>
    <div class="field">
      <!-- <%= f.label :post_text, "正文" %> -->
      <%= f.text_area :post_text, id: "editor" %>
    </div>
  </div>
  <div class="sixteen wide mobile sixteen wide tablet two wide computer column">
    <br/><br/><br/><br/>
    <div style="background:white;padding:0.618em;">
      <div class="field">
        <!-- <%= f.label :post_image, "特色图" %> -->
        <!-- <%= f.text_field :post_image, class: "post-image-field", placeholder: "分类图（请填写图片url）", autocomplete: "off" %> -->
        <%= f.file_field :post_image, accept: 'image/jpeg,image/gif,image/png' %>
      </div>
      <h4 class="ui header">特色图片</h4>
      <% if @post.post_image? %>
      <%= image_tag(@post.post_image.url, class: "ui image fixheight imgshow tempimgshow") %>
    <% else %>
      <%= image_tag("http://www.semantic-ui.cn/images/wireframe/image.png", class: "ui image fixheight imgshow tempimgshow") %>
      <% end %>

      <br/>
      <% if @post.errors.any? %>
      <script>
        $(".ui.form").addClass("error");
        $(".field_with_errors").parent().addClass("error");
      </script>
      <% end %>

      <%= f.submit "完成", class: "ui submit button" %>
      <% end %>
    </div>
  </div>
      <div class="two wide computer only column"></div>
    </div>

    <!-- <div class="ui container post-form">


</div> -->

    <script type="text/javascript">
      $('#post_post_image').bind('change', function () {
        size_in_megabytes = this.files[0].size / 1024 / 1024;
        if (size_in_megabytes > 5) {
          alert('Maximum file size is 5MB. Please choose a smaller file.');
        }

        //   var $reader = new FileReader();   $reader.readAsDataURL(this.files[0]);   $reader.onloadend = function(){    $('.tempimgshow').attr('src', oFREvent.target.result);
        //
        //    alert(oFREvent.target.result);  } 实时预览上传图片，上面被注释的代码也能实现这个功能
        var $reader = new FileReader();
        $reader.readAsDataURL(this.files[0]);
        $reader.onloadend = function () {
          $('.tempimgshow').attr('src', this.result);
          //  alert(this.result);
        }

      });
    </script>
