<div class="ui container category-block">

  <div class="ui center aligned category-block-border">
    <!-- <h4 class="ui grey header">新建文章并且发表在><%= @category.category_name %></h4> -->
    <h1 class="ui header">
      <%= image_tag(@category.category_image.url, class: "ui circular image",
                    alt: @category.category_name) if @category.category_image? %>
      <div class="content">
        <%= @category.category_name %>
        <div class="sub header black-header"><%= @category.category_brief %></div>
      </div>
    </h1>
    <br/>
    <div class="cat-link">
      <%= link_to '新建文章', new_category_post_path(@category), data: {no_turbolink: true} %>&nbsp;&nbsp;/&nbsp;&nbsp;
      <!-- <%= link_to '新建文章', new_category_post_path(@category) %>&nbsp;&nbsp;/&nbsp;&nbsp; -->
      <%= link_to '添加分类', new_category_path %>&nbsp;&nbsp;/&nbsp;&nbsp;
      <%= link_to '编辑分类', edit_category_path(@category) %>&nbsp;&nbsp;/&nbsp;&nbsp;
      <%= link_to '全部分类', categories_path %>&nbsp;&nbsp;/&nbsp;&nbsp;
      <%= link_to '删除分类', category_path(@category), method: :delete, data: {confirm: '确定要删除吗？'} %>
    </div>
  </div>

  <div class="sb-main-content">

    <% if @category.posts.count == 0 %>
        <center class="site-sub-header"><h2>还没有内容(ｏ・_・)ノ”(ノ_<。)</h2></center>
    <% end %>

    <% @category.posts.reverse.each do |post| %>

        <!-- <%= image_tag(post.post_image, class: "post-image", alt: post.post_title) %> -->


        <h1 class="site-header">
          <%= link_to category_post_path(@category, post), class: "post-title-link" do %>
              <%= post.post_title %>
          <% end %>
        </h1>
        <!-- 特色图 begin-->
        <%= image_tag(post.post_image.url, class: "post-special-image") if post.post_image? %> <!-- 解除注释启用特色图，自己改css吧233333 -->
        <!-- 特色图 end-->
        <h5 class="site-sub-header">
          <%= post.created_at.localtime.strftime("%Y年%m月%d日") %>
        </h5>
        <!-- <div class="post-text"><%= sanitize post.post_text %></div> -->
        <div class="post-text editor-style">
          <%= raw cutpost(post.post_text, category_post_path(@category, post)) %>
        </div>
    <% end %>
  </div>
</div>

<br/>

<div class="ui basic modal">
  <div class="ui-icon-header">
    <i><img src="" class="microblog_image image" alt=""></i>
  </div>
  <div class="content">
    <div class="modal_description description post-text"></div>
  </div>
  <!-- <div class="actions">
      <div class="ui red basic cancel inverted button"><i class="remove icon"></i> No </div>
      <div class="ui green ok inverted button"><i class="checkmark icon"></i> Yes </div>
    </div> -->
</div>
