<div>
    <% @category.posts.reverse.each do |post| %>
    <div class="posts-timeline">
      <div class="post-timeline">
      <h2 class="ui grey header">
        <div class="post-timeline-dot"></div>
        <%= post.created_at.localtime.strftime("%Y-%m-%d") %>
        &nbsp;&nbsp;&nbsp;
        <%= link_to category_post_path(@category, post), class: "post-title-link" do %>
        <%= post.post_title %>
        <% end %>
      </h2>
      <div class="post-text">
        <%= sanitize cutpost(post.post_text, category_post_path(@category, post)) %>
      </div>
      <div class="post-music">
        <%= post_music(post.post_image) %>
      </div>
    </div>
    </div>
    <% end %>
  </div>
