<div class="header-bg">
<div class="full-width-header ui container">
  <div class="ui grid">
    <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
      <h1 class="site-header">
        <%= link_to Setting.Site_Header, root_path, class: "site-header" %>
      </h1>
      <div class="site-sub-header"><%= Setting.Site_Sub_Header %></div>
    </div>
    <div class="twelve wide computer only right aligned column">
      <br/>
      <h3 class="site-header">
        <% @categories.each do |category| %>
        <%= link_to category.category_name, category_path(category),
                    title: category.category_brief, id: "category-#{category.id}", class: "category-header-link" %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <% end %>
        <% if logged_in? %>
            <%= link_to current_user.name, current_user,
                        title: current_user.name+" 已登录", id: "current_user.name", class: "category-header-link" %>
            <i class="green check circle icon"></i>
        <% end %>
      </h3>
    </div>
    <div class="sixteen wide mobile sixteen wide tablet only column">
      <h3 class="site-header">
        <% @categories.each do |category| %>
        <%= link_to category.category_name, category_path(category),
                    title: category.category_brief, id: "category-#{category.id}", class: "category-header-link" %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <% end %>
        <% if logged_in? %>
            <%= link_to current_user.name, current_user,
                        title: current_user.name+" 已登录", id: "current_user.name", class: "category-header-link" %>
            <i class="green check circle icon"></i>
        <% end %>
      </h3>
    </div>
  </div>
</div>
