<div class="ui styled accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    全部分类
  </div>
  <div class="content">

    <% @categories.each do |category| %>
        <div class="transition hidden">
          <div class="title">
            <i class="dropdown icon"></i>
            <%= link_to category.category_name, category_posts_path(category), title: category.category_brief,
                        id: "#{category.id}", class: "me-category", target: "posts" %>
          </div>
          <div class="content">
            <p class="transition hidden">
              <%= link_to edit_category_path(category) do %>
                  <i class="edit icon"></i>编辑
              <% end %>
              <%= link_to category_path(category), data: {no_turbolink: true} do %>
                  查看
              <% end %>
              <%= link_to category_path(category),
                          method: :delete, data: {confirm: '确定要删除吗？'} do %>
                  <i class="remove icon"></i>删除
              <% end %>
            </p>

            <% category.posts.reverse.each do |post| %>
                <div class="transition hidden">
                  <div class="title">
                    <i class="dropdown icon"></i>
                    <%= post.post_title %>
                  </div>
                  <div class="content">
                    <p class="transition hidden">
                      <%= post.created_at.localtime.strftime("%Y年%m月%d日") %>
                      <%= link_to "编辑", edit_category_post_path(@category, post), data: {no_turbolink: true} %>
                      <%= link_to '删除', category_post_path(@category, post), method: :delete, data: {confirm: '确定要删除吗？'} %>
                    </p>
                  </div>

                </div>
            <% end %>

          </div>

        </div>
    <% end %>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    2333
  </div>
  <div class="content">
    <p class="transition hidden">ooo</p>
    <p class="transition hidden">bbb</p>
  </div>
</div>
