<%= render 'categories/header' %>

<!--<br/>-->
<div class="banner-padding" style="background-color: <%= Setting.Banner_Background_Color %>;
    background-image: url(<%= asset_url(Setting.Banner_Image) %>);">
  <div class="ui center aligned category-block-border container">
    <h2 class="ui header site-header">
      <img class="ui circular image" alt="日常" src="/uploads/category/category_image/3/avatar.jpg">
      <div class="content">编辑分类 <div class="sub header">编辑原有的分类</div>
      </div>
    </h2>
    <!--<br/>-->
    <div class="cat-link">
    </div>
  </div>
</div>
<!--<br/>-->
<div class="ui text container">
  <%= render 'form' %>
  <!-- <%= link_to '全部分类', categories_path %>&nbsp;&nbsp;/&nbsp;&nbsp;
  <%= link_to '删除分类', category_path(@category), method: :delete, data: {confirm: '确定要删除吗？'} %> -->
</div>
