<%= render 'header' %>
<div class="ui center aligned container category-block-border">
  <!-- <h4 class="ui grey header">新建文章并且发表在><%= @category.category_name %></h4> -->
  <h1 class="ui grey header">
    <%= image_tag(@category.category_image.url, class: "ui circular image",
    alt: @category.category_name) if @category.category_image? %>
    <div class="content">
      <%= @category.category_name %>
      <div class="sub header"><%= @category.category_brief %></div>
    </div>
  </h1>
  <br/>
  <%= link_to '新建文章', new_category_post_path(@category), data: { no_turbolink: true } %>&nbsp;&nbsp;/&nbsp;&nbsp;
  <!-- <%= link_to '新建文章', new_category_post_path(@category) %>&nbsp;&nbsp;/&nbsp;&nbsp; -->
  <%= link_to '添加分类', new_category_path %>&nbsp;&nbsp;/&nbsp;&nbsp;
  <%= link_to '编辑分类', edit_category_path(@category) %>&nbsp;&nbsp;/&nbsp;&nbsp;
  <%= link_to '全部分类', categories_path %>&nbsp;&nbsp;/&nbsp;&nbsp;
  <%= link_to '删除分类', category_path(@category), method: :delete, data: {confirm:'确定要删除吗？'} %>
</div>

<div class="ui container category-block">
  <%= which_posts_template(@category.id) %>
</div>
