<!DOCTYPE html>
<html>
<head>
  <title>HelloApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{params[:controller]}-#{params[:action]}" %>">

<%= yield %>

<div class="full-width-footer">
  <div class="ui center aligned container copy-text">
    <%= copy_year('2016') %>&nbsp;&nbsp;&nbsp;kukudixiaoming
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code&design with heart
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;powered by blackbird&nbsp;&nbsp;&nbsp;:)
  </div>
</div>

<div class="debug">
<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
